@model Information_system_labb3.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteId" />
            <div class="form-group">
                <label asp-for="NoteDate" class="control-label">Date</label>
                <input asp-for="NoteDate" class="form-control" />
                <span asp-validation-for="NoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteDescription" class="control-label">Description</label>
                <input asp-for="NoteDescription" class="form-control" />
                <span asp-validation-for="NoteDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOut" class="control-label">Amount Out</label>
                <input asp-for="AmountOut" class="form-control" />
                <span asp-validation-for="AmountOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountIn" class="control-label">Amount In</label>
                <input asp-for="AmountIn" class="form-control" />
                <span asp-validation-for="AmountIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
